.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
    bac
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid gold;
}

.menu-lives, .menu-time, .menu-score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.panel {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: #808080;
}

.enemy {
   background-image: url("../images/ralph.png");
   background-size: cover;
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 18px;
        text-align: center;
    }

    .menu-lives, .menu-time, .menu-score {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .menu-lives img {
       height: 35px;
    }

    .square {
        height: 100px;
        width: 100px;
        border: 0.2px solid black;
    }

}

@media screen and (min-width: 610px) and (max-width: 1300px) { 
    .menu-lives, .menu-time, .menu-score {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .menu-lives img {
        height: 45px;
     }

}
